{% extends 'bookms/base.html' %}

{% block home_nav %}
    {% if is_login %}
        <a class="navbar-brand" href="{% url 'home' user.id %}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a>
    {% else %}
        <a class="navbar-brand" href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Home</a>
    {% endif %}
{% endblock %}

{% block register %}
    {% if is_login %}
    {% else %}
        <li><a href="{% url 'sign_up' %}"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;注册</a></li>
        <li><a href="/admin"><span class="glyphicon glyphicon-book">&nbsp;管理员</span></a></li>
    {% endif %}
{% endblock %}
{% block login_or_out %}
    {% if is_login %}
        <li><a href="{% url 'sign_out' %}"><span class="glyphicon glyphicon-log-out"></span>&nbsp;&nbsp;退出</a></li>
    {% else %}
        <li><a href="{% url 'sign_in' %}"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;登陆</a></li>
    {% endif %}
{% endblock %}

{% block body %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-0">
                <form class="form-group form-inline" action="{% url 'search_books' %}" method="post" accept-charset="UTF-8" enctype="multipart/form-data">

                    <input type="text" title="书名" name="name" id="name" placeholder="书名">
                    <input type="text" title="作者" name="author" id="author" placeholder="作者">
                    <input type="text" title="出版社" name="publisher" id="publisher" placeholder="出版社">
                    <input type="text" title="类别" name="category" id="category" placeholder="类别">
                    <input type="submit" class="btn" value="搜索">

                </form>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>书名<span class="label label-info">评分</span></th>
                            <th>作者</th>
                            <th>出版社</th>
                            <th>在库副本</th>
                            <th>借出数</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in book_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'book_info' book.isbn %}">《{{ book.name }}》</a>
                                    {% if book.rate %}
                                        <span class="label label-info">{{ book.rate }}</span>
                                    {% else %}
                                        <span class="label label-default">无评分</span>
                                    {% endif %}
                                </td>
                                <td>{{ book.author.name }}</td>
                                <td>{{ book.publisher.name }}</td>
                                <td>{{ book.num_copies }}</td>
                                <td>{{ book.num_lend }}</td>
                                <td><a href="{% url 'borrow' book.isbn %}">借书</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}